<!-- <div id="sony-bar" class="sony-bar">
  <a href="#" class="dtm-no-track" data-di-id="di-id-36996767-270b78fb">
    <span class="sony-logo sony-bar__logo"></span>
    <span class="sr-only">Sonyaaaaaaaaa</span>
  </a>
</div> -->

<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png" alt="playstation_logo" width="140px" height="32px">
  </div>

  <div class="menu-bar__item">
    <ul>
      <li><a href="">YOUTUBE</a></li>
      <li><a href="">GITHUB</a></li>
      <li><a href="">lINKEDIN</a></li>
    </ul>
  </div>
</div>